html, body,#root{
  background-color: #f7f7f7;
  height: 100%;
  overscroll-behavior: none;
}
.App {
  text-align: center;
  background-color: #f7f7f7;
  height: 100%;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  min-height: 10%;
  background-color: #f7f7f7;
}
.navbar-brand {
  padding: 0 15px;
  height: 30%;
  line-height: 10%;
}

.lowerBorder{
  border-bottom:solid 1px #e74c3c30;
}
.rightPanelBorder{
   border-right: solid 1px #e74c3c30;
  height: 100%;
  padding: 0;
 }
.h-90{
  height: 90% !important;
}
.item{
  position: relative;
  display: block;
  padding: .75rem 1.25rem;
  margin-bottom: -1px;
  /*background-color: #fff;*/
  width: 100%;
  border-bottom: solid 1px #e74c3c30;
}
.message{
  position: relative;
  display: block;
  /*padding: .75rem 1.25rem;*/
  margin:0px;
  margin-bottom: -1px;
  padding:5px 5px !important;
  /*background-color: #fff;*/
  /*width: 100%;*/
  border-bottom: solid 1px #e74c3c30;
}
.message-row{
  margin:0px;
}
.selected{
  color:#fff;
  background-color:#e74c3c ;
}

.itemsContainer{
  width: 100%;
  padding: 0;
}

ul{
  margin-bottom: 0px;
}
/*.logo{*/
/*  width:50%;*/
/*  !*width:auto;*!*/
/*  !*display: block;*!*/
/*}*/
